{% extends 'core/base.html' %}

{% block title %} About {% endblock %}

{% block content %}
<div class="mx-auto max-w-4xl border border-black rounded-xl p-6 shadow-md">
    <h1 class="text-4xl text-green-600 mb-4">Welcome to GoShopping - Your Ultimate Online Shopping Destination in Uzbekistan!</h1>

    <div class="mt-6 space-y-4">
        <p class="flex items-start"><span class="text-2xl mr-4">🛍️</span> <span class="flex-1 leading-relaxed">Discover a World of Choices: Explore a vast array of products from top brands and local sellers, all in one place. From trendy fashion and electronics to home essentials and more, GoShopping brings the market to your fingertips.</span></p>

        <p class="flex items-start"><span class="text-2xl mr-4">💳</span> <span class="flex-1 leading-relaxed">Safe and Secure Transactions: Shop with confidence knowing that your transactions are secure. GoShopping prioritizes the safety of your payments, making your online shopping experience worry-free.</span></p>

        <p class="flex items-start"><span class="text-2xl mr-4">🚚</span> <span class="flex-1 leading-relaxed">Fast and Reliable Delivery: Enjoy swift and reliable delivery services to your doorstep. We understand the importance of timely deliveries, ensuring that your purchases reach you in top condition and on time.</span></p>

        <p class="flex items-start"><span class="text-2xl mr-4">🤩</span> <span class="flex-1 leading-relaxed">Exclusive Deals and Discounts: Unlock exclusive deals and discounts that make your shopping experience even more delightful. At GoShopping, we believe in offering you the best value for your money.</span></p>

        <p class="flex items-start"><span class="text-2xl mr-4">🌐</span> <span class="flex-1 leading-relaxed">Shop Anytime, Anywhere: Whether you're at home, at work, or on the go, GoShopping is accessible from any device. Our user-friendly platform lets you shop seamlessly, anytime, anywhere.</span></p>

        <p class="flex items-start"><span class="text-2xl mr-4">👩‍💻</span> <span class="flex-1 leading-relaxed">Personalized Shopping Experience: Tailor your shopping journey with personalized recommendations based on your preferences. Discover new items and stay updated on the latest trends curated just for you.</span></p>
    </div>

    <p class="mt-6 leading-relaxed">Join the GoShopping community today and elevate your shopping experience! Happy Shopping!</p>
</div>


{% endblock %}




