{% extends 'core/base.html' %}

{% block title %} Contact {% endblock %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-2 gap-8 px-6 py-6">
  <!-- Updated class definitions for column span and text size -->
  <div class="col-span-1">
    <h1 class="text-4xl md:text-5xl">Contact Us</h1>
  </div>
  <div class="col-span-1">
    <form action="{% url 'core:contact'%}" method="post">
        {% csrf_token %}
        <!-- Uniform margins for inputs and consistent styling for responsive design -->
        <input class="mb-4 px-4 py-2 w-full rounded-xl border-2 border-gray-300 focus:border-teal-400 focus:outline-none" type="text" id="fname" name="fullname" placeholder="Your full name" required>
        <input class="mb-4 px-4 py-2 w-full rounded-xl border-2 border-gray-300 focus:border-teal-400 focus:outline-none" type="text" id="lname" name="phonenumber" placeholder="Your phone number (optional)">
        <input class="mb-4 px-4 py-2 w-full rounded-xl border-2 border-gray-300 focus:border-teal-400 focus:outline-none" type="email" id="email" name="email" placeholder="Your email" required>
        <textarea class="mb-4 px-4 py-2 w-full rounded-xl border-2 border-gray-300 focus:border-teal-400 focus:outline-none" id="message" name="message" placeholder="Your message" rows="4" required></textarea>

        <!-- Enhanced button with hover and focus states -->
        <button class="px-6 py-2 bg-teal-400 hover:bg-teal-500 focus:bg-teal-600 focus:outline-none rounded-xl transition-colors" type="submit">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
