{% extends 'core/base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}

<div class="mt-6 px-6 py-12 bg-gray-300 rounded-xl">
  <h2 class="mb-12 text-2xl text-center">My Items</h2>
  {% if items %}
      <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-5 gap-3">
        {% for item in items %}
        <div class="rounded-xl transition-shadow hover:shadow-lg">
          <a href="{% url 'items:detail' item.id %}">
            <!-- Adjusted the height and added a max-height for larger screens -->
            <img src="{{ item.image_url }}" class="rounded-t-xl w-full h-15vw sm:h-36 md:h-48 lg:h-60" style="object-fit: cover;">

            <div class="p-6 py-3 bg-white rounded-b-xl">
              <!-- Adjusted text size for better clarity on mobile -->
              <h2 class="text-xs sm:text-sm lg:text-lg">{{ item.name }}</h2>
              <p class="text-gray-500 text-xs sm:text-sm">Price: {{ item.price }} so'm</p>
              <p class="text-gray-500 text-xs sm:text-sm">Date: {{ item.created_at|date:"F j, Y" }}</p>
            </div>
           </a>
          </div>
        {% endfor%}
      </div>
  {% else %}
      <div class="flex justify-center items-center">
        <div class="text-center">
          <h1 class="mb-6">You haven't created any item!</h1>
          <!-- Enhanced the button for a better hover and focus state -->
          <a href="{% url 'items:new' %}" class="px-4 py-2 bg-teal-500 text-white hover:bg-teal-700 focus:bg-teal-800 focus:outline-none rounded-3xl transition-colors"> Create </a>
        </div>
      </div>
  {% endif %}
</div>


{% endblock %}
