{% extends "core/base.html" %}

{% block title %} Shaxsiy Kabinet {% endblock %}

{% block content %}

{% load static %}
<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-6">
  <div class="grid grid-cols-1 sm:grid-cols-4 gap-6 items-center border-b border-gray-200">
    <div class="flex justify-center sm:col-span-1">
      <label for="upload-avatar">
        {% if request.user.avatar %}
          <img src="{{ request.user.avatar.url }}" class="rounded-full object-cover w-3/4 sm:w-56">
        {% else %}
          <img src="{% static 'core/icons/account.png' %}" class="rounded-full object-cover w-3/4 sm:w-56">
        {% endif %}
      </label>
      <input id="upload-avatar" type="file" class="hidden">
    </div>
    <div class="col-span-1 sm:col-span-3 p-6 bg-gray-200">
      <div class="flex space-x-5 justify-between border-b border-gray-200">
        <h2 class="mb-6 text-3xl">{{ request.user }}</h2>
        <div>
          <a href="{% url 'core:profile_edit' user.id %}" class="px-3 py-1 bg-gray-400 text-lg text-black hover:bg-gray-700 hover:text-white" >Edit</a>
          <a href="{% url 'core:logout' %}" class="px-3 py-1 bg-red-500 text-lg text-white hover:bg-red-700">Log Out</a>
        </div>
      </div>
      <!-- User Info -->
      <p class="text-gray-600"><strong>Full Name: </strong>{{ request.user.fname }}, {{ request.user.lname }}</p>
      <p class="text-gray-600"><strong>Phone Number: </strong>{{ request.user.phone_number }}</p>
      <p class="text-gray-600"><strong>Email: </strong>{{ request.user.email }}</p>
      <p class="text-gray-600"><strong>Location: </strong>{{ request.user.regions }}, {{ request.user.cities }}</p>
      <p class="text-gray-600"><strong>Address: </strong>{{ request.user.address }}</p>
    </div>
  </div>
  <div class="px-6 py-6 w-full">
    {% if request.user.bio %}
      <p class="text-gray-800">{{ request.user.bio }}</p>
    {% else %}
      <p class="text-gray-600">No bio</p>
    {% endif %}
  </div>
</div>

{% endblock %}