{% extends 'core/base.html' %}

{% block title %} Edit Profile {% endblock %}

{% block content %}

{% load static %}

<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-6">
    <div class="flex justify-center">
        <div class="w-full sm:w-3/4 lg:w-1/2 xl:w-2/5">
            <h2 class="text-center px-6 py-6 font-semibold text-3xl">Edit Profile</h2>
            <form method="post" action="{% url 'core:profile_edit' user.username %}" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label class="block mb-2">First Name</label>
                    {{ form.fname }}
                </div>
                <div class="mb-3">
                    <label class="block mb-2">Last Name</label>
                    {{ form.lname }}
                </div>
                <div class="mb-3">
                    <label class="block mb-2">Phone Number</label>
                    {{ form.phone_number }}
                </div>
                <div class="mb-3">
                    <label class="block mb-2">Address</label>
                    {{ form.address }}
                </div>
                <div class="mb-3">
                    <label class="block mb-2">Regions</label>
                    {{ form.regions }}
                </div>
                <div class="mb-3">
                    <label class="block mb-2">Cities</label>
                    {{ form.cities }}
                </div>
                <div class="mb-3">
                    <label class="block mb-2">Avatar</label>
                    {{ form.avatar }}
                </div>
                <div class="mb-3">
                    <label class="block mb-2">Bio</label>
                    {{ form.bio }}
                </div>
                {% if form.errors or form.non_field_errors %}
                    <div class="mb-3 p-6 bg-red-100 rounded-xl">
                        {% for field in form %}
                            {{ field.errors }}
                        {% endfor %}
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <button class="w-full sm:w-auto px-6 py-3 bg-teal-500 text-white hover:bg-teal-700">Save</button>
            </form>
        </div>
    </div>
</div>

{% block script %}
    <script src="{% static 'core/js/cities.js' %}" defer></script>
{% endblock %}

{% endblock %}
