{% extends 'core/base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}

{% load static %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="px-6 py-6 font-semibold text-3xl">Sign Up</h2>
        <form method="post" action=".">
            {% csrf_token %}
        <!--      {{ form.as_p }}-->
            <div class="mb-3">
                <label class="inline-block mb-2">Username</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Ism</label>
                {{ form.fname }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Familya</label>
                {{ form.lname }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Email</label>
                {{ form.email }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Telefon Raqam</label>
                {{ form.phone_number }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Address</label>
                {{ form.address }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Avatar</label>
                {{ form.avatar }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Password</label>
                {{ form.password1 }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Password Confirmation</label>
                {{ form.password2 }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Viloyat</label>
                {{ form.regions }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Shahar</label>
                {{ form.cities }}
            </div>
            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}

                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <button class="px-6 py-3 bg-teal-500 text-white hover:bg-teal-700">Sign Up</button>

        </form>
    </div>
</div>

{% block script %}
    <script src="{% static 'core/js/cities.js' %}" defer></script>
{% endblock %}



{% endblock %}