{% extends 'core/base.html' %}

{% block title %} Contact {% endblock %}

{% block content %}
<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-6 max-w-screen-lg shadow-md border border-gray-200 rounded-xl p-6 my-8">
    <h1 class="text-4xl font-bold mb-4">Terms of Use for GoShopping</h1>

    <p class="mb-6">By accessing this website, you agree to comply with and be bound by the following terms and conditions of use. If you do not agree with these terms, please do not use this website.</p>

    <h2 class="text-2xl font-bold mb-2">Use of Website</h2>
    <p class="mb-6">You agree to use this website for lawful purposes only and in a manner that does not infringe on the rights of, or restrict or inhibit the use of this site by any third party.</p>

    <h2 class="text-2xl font-bold mb-2">1. Acceptance of Terms</h2>
    <p class="mb-6">By using the GoShopping website (the "Website"), you agree to comply with and be bound by the following terms and conditions of use. If you do not agree with these terms, please do not use this Website.</p>

    <h2 class="text-2xl font-bold mb-2">2. Use of Website</h2>
    <p class="mb-6">You agree to use this Website for lawful purposes only and in a manner that does not infringe on the rights of, or restrict or inhibit the use of this site by any third party.</p>

    <h2 class="text-2xl font-bold mb-2">3. Intellectual Property</h2>
    <p class="mb-6">You agree to use this website for lawful purposes only and in a manner that does not infringe on the rights of, or restrict or inhibit the use of this site by any third party.</p>

    <h2 class="text-2xl font-bold mb-2">4. Disclaimer</h2>
    <p class="mb-6">This Website is provided on an "as is" basis without any warranties, express or implied. GoShopping makes no representations or warranties in relation to this Website or the information and materials provided.</p>

    <h2 class="text-2xl font-bold mb-2">5. Limitation of Liability</h2>
    <p class="mb-6">In no event shall GoShopping be liable for any direct, indirect, incidental, special, or consequential damages, or damages for loss of profits, revenue, data, goodwill, or use, incurred by you or any third party, whether in an action in contract or tort, arising from your access to, or use of, this Website.</p>

    <h2 class="text-2xl font-bold mb-2">6. Changes to Terms</h2>
    <p class="mb-6">GoShopping may revise these terms of use at any time without notice. By using this Website, you agree to be bound by the current version of these terms.</p>

    <h2 class="text-2xl font-bold mb-2">7. Governing Law</h2>
    <p class="mb-6">These terms of use are governed by and construed in accordance with the laws of Uzbekistan, and any disputes relating to these terms will be subject to the exclusive jurisdiction of the courts of Supreme Court of Uzbekistan.</p>
</div>

{% endblock %}
